<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            
        </header>

        <main>
            <h1 id="title">Articles</h1>
            {% for article in articles %}
                <div class="article-list">
                    <div class="article-header">
                        <a id="article-link" href="/articles/{{ article.num }}">{{ article.title }}</a>
                        <span id="date">{{ article.date[0] }}-{{ article.date[1] }}-{{ article.date[2] }}</span>
                    </div>
                    <p id="author">By {{ article.author }}</p>
                    <br>
                </div>
            {% endfor %}
        </main>
    </body>
</html>