<!DOCTYPE html>
<html>
    <head>
        <title>{{ article.title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <main>
            <p id="date">{{ article.date }}</p>
            <h1 id="title">{{ article.title }}</h1>
            <p id="author">By {{ article.author }}</p>

            <article>
                {{ article.content | safe }}
            </article>

            <a id="return_home" href="/">Return Home</a>
        </main>
    </body>
</html>