<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/">Home</a>
            </div>
            <div class="nav-right">
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            </div>
        </nav>
    </header>

        {% block content %}{% endblock %}

</body>
</html>