<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/articles/">Articles</a>
            </div>

            <div class="nav-right">
            {% if user %}
                <span>{{ user }}</span>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {% endif %}
        </div>
        </nav>
    </header>

        {% block content %}{% endblock %}

</body>
</html>